<?xml version="1.0" encoding="utf-8"?>
<Ketarin>
  <Settings>
    <dictionary>
      <item>
        <key>
          <string>AuthorGuid</string>
        </key>
        <value>
          <string>System.String:{9570d9b0-ada3-4772-868d-b993a66e71f8}</string>
        </value>
      </item>
      <item>
        <key>
          <string>LastUpdateCheck</string>
        </key>
        <value>
          <string>AAEAAAD/////AQAAAAAAAAAEAQAAAA9TeXN0ZW0uRGF0ZVRpbWUCAAAABXRpY2tzCGRhdGVEYXRhAAAJENdbwo3yxtMI11vCjfLG04gL</string>
        </value>
      </item>
      <item>
        <key>
          <string>MainForm/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:693,929</string>
        </value>
      </item>
      <item>
        <key>
          <string>MainForm/Location</string>
        </key>
        <value>
          <string>System.Drawing.Point:1295,195</string>
        </value>
      </item>
      <item>
        <key>
          <string>MainForm/WindowState</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Application:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Application:Width</string>
        </key>
        <value>
          <string>System.Int32:183</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Application:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Last updated:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Last updated:Width</string>
        </key>
        <value>
          <string>System.Int32:110</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Last updated:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:2</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Progress:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Progress:Width</string>
        </key>
        <value>
          <string>System.Int32:100</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Progress:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:3</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Target:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Target:Width</string>
        </key>
        <value>
          <string>System.Int32:97</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Target:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:4</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Category:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Category:Width</string>
        </key>
        <value>
          <string>System.Int32:80</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Category:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:5</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Status:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:False</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Status:Width</string>
        </key>
        <value>
          <string>System.Int32:80</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Status:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:-1</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/LastSortColumn</string>
        </key>
        <value>
          <string>System.String:Application</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/LastSortOrder</string>
        </key>
        <value>
          <string>System.Int32:1</string>
        </value>
      </item>
      <item>
        <key>
          <string>Ketarin/ShowGroups</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>Ketarin/ShowStatusBar</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>Ketarin/ShowLog</string>
        </key>
        <value>
          <string>System.Boolean:False</string>
        </value>
      </item>
      <item>
        <key>
          <string>Ketarin/AutoScroll</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>InstallingApplicationsDialog/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:406,256</string>
        </value>
      </item>
      <item>
        <key>
          <string>InstallingApplicationsDialog/Location</string>
        </key>
        <value>
          <string>System.Drawing.Point:225,225</string>
        </value>
      </item>
      <item>
        <key>
          <string>InstallingApplicationsDialog/WindowState</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/Time:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/Time:Width</string>
        </key>
        <value>
          <string>System.Int32:55</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/Time:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:-1</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/Message:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/Message:Width</string>
        </key>
        <value>
          <string>System.Int32:310</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/Message:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:-1</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/LastSortColumn</string>
        </key>
        <value>
          <string>System.String:Time</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvLog/LastSortOrder</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>InstallingApplicationsDialog/Expanded</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>ApplicationJobDialog/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:1022,840</string>
        </value>
      </item>
      <item>
        <key>
          <string>ApplicationJobDialog/Location</string>
        </key>
        <value>
          <string>System.Drawing.Point:335,176</string>
        </value>
      </item>
      <item>
        <key>
          <string>ApplicationJobDialog/WindowState</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>PreUpdateCommand</string>
        </key>
        <value>
          <string>System.String:chocopkgup /disablepush /p {appname} /v {version} /u "{preupdate-url}" /u64 "{url64}" /pp "{file}"
REM /disablepush</string>
        </value>
      </item>
      <item>
        <key>
          <string>PreUpdateCommandType</string>
        </key>
        <value>
          <string>System.String:Batch</string>
        </value>
      </item>
      <item>
        <key>
          <string>CustomColumns</string>
        </key>
        <value>
          <string>System.String:&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;dictionary&gt;
  &lt;item&gt;
    &lt;key&gt;
      &lt;string&gt;Version&lt;/string&gt;
    &lt;/key&gt;
    &lt;value&gt;
      &lt;string&gt;{version}&lt;/string&gt;
    &lt;/value&gt;
  &lt;/item&gt;
&lt;/dictionary&gt;</string>
        </value>
      </item>
      <item>
        <key>
          <string>CustomColumn</string>
        </key>
        <value>
          <string p6:nil="true" xmlns:p6="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </item>
      <item>
        <key>
          <string>CustomColumn2</string>
        </key>
        <value>
          <string p6:nil="true" xmlns:p6="http://www.w3.org/2001/XMLSchema-instance" />
        </value>
      </item>
      <item>
        <key>
          <string>UpdateAtStartup</string>
        </key>
        <value>
          <string>System.Boolean:False</string>
        </value>
      </item>
      <item>
        <key>
          <string>AvoidFileHippoBeta</string>
        </key>
        <value>
          <string>System.Boolean:False</string>
        </value>
      </item>
      <item>
        <key>
          <string>ConnectionTimeout</string>
        </key>
        <value>
          <string>AAEAAAD/////AQAAAAAAAAAEAQAAAA5TeXN0ZW0uRGVjaW1hbAQAAAAFZmxhZ3MCaGkCbG8DbWlkAAAAAAgICAgAAAAAAAAAAAoAAAAAAAAACw==</string>
        </value>
      </item>
      <item>
        <key>
          <string>ThreadCount</string>
        </key>
        <value>
          <string>System.Int32:2</string>
        </value>
      </item>
      <item>
        <key>
          <string>RetryCount</string>
        </key>
        <value>
          <string>System.Int32:1</string>
        </value>
      </item>
      <item>
        <key>
          <string>UpdateOnlineDatabase</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>MinimizeToTray</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>CreateDatabaseBackups</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>OpenWebsiteOnDoubleClick</string>
        </key>
        <value>
          <string>System.Boolean:False</string>
        </value>
      </item>
      <item>
        <key>
          <string>ProxyPort</string>
        </key>
        <value>
          <string>AAEAAAD/////AQAAAAAAAAAEAQAAAA5TeXN0ZW0uRGVjaW1hbAQAAAAFZmxhZ3MCaGkCbG8DbWlkAAAAAAgICAgAAAAAAAAAAAAAAAAAAAAACw==</string>
        </value>
      </item>
      <item>
        <key>
          <string>ProxyServer</string>
        </key>
        <value>
          <string>System.String:</string>
        </value>
      </item>
      <item>
        <key>
          <string>ProxyUser</string>
        </key>
        <value>
          <string>System.String:</string>
        </value>
      </item>
      <item>
        <key>
          <string>ProxyPassword</string>
        </key>
        <value>
          <string>System.String:</string>
        </value>
      </item>
      <item>
        <key>
          <string>LogDialog/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:1101,695</string>
        </value>
      </item>
      <item>
        <key>
          <string>LogDialog/Location</string>
        </key>
        <value>
          <string>System.Drawing.Point:1218,47</string>
        </value>
      </item>
      <item>
        <key>
          <string>LogDialog/WindowState</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>EditVariablesDialog/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:1808,1005</string>
        </value>
      </item>
      <item>
        <key>
          <string>EditVariablesDialog/Location</string>
        </key>
        <value>
          <string>System.Drawing.Point:125,125</string>
        </value>
      </item>
      <item>
        <key>
          <string>EditVariablesDialog/WindowState</string>
        </key>
        <value>
          <string>System.Int32:0</string>
        </value>
      </item>
      <item>
        <key>
          <string>ProgressDialog/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:292,101</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/version:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/version:Width</string>
        </key>
        <value>
          <string>System.Int32:60</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/version:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:1</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Version:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Version:Width</string>
        </key>
        <value>
          <string>System.Int32:60</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvJobs/Version:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:1</string>
        </value>
      </item>
      <item>
        <key>
          <string>ErrorsDialog/Size</string>
        </key>
        <value>
          <string>System.Drawing.Size:1232,283</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/Application:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/Application:Width</string>
        </key>
        <value>
          <string>System.Int32:98</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/Application:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:-1</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/Error:Visibility</string>
        </key>
        <value>
          <string>System.Boolean:True</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/Error:Width</string>
        </key>
        <value>
          <string>System.Int32:1088</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/Error:LastDisplayIndex</string>
        </key>
        <value>
          <string>System.Int32:-1</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/LastSortColumn</string>
        </key>
        <value>
          <string>System.String:Application</string>
        </value>
      </item>
      <item>
        <key>
          <string>olvErrors/LastSortOrder</string>
        </key>
        <value>
          <string>System.Int32:1</string>
        </value>
      </item>
      <item>
        <key>
          <string>DefaultCommand</string>
        </key>
        <value>
          <string>System.String:</string>
        </value>
      </item>
      <item>
        <key>
          <string>DefaultCommandType</string>
        </key>
        <value>
          <string>System.String:Batch</string>
        </value>
      </item>
      <item>
        <key>
          <string>PostUpdateCommand</string>
        </key>
        <value>
          <string>System.String:</string>
        </value>
      </item>
      <item>
        <key>
          <string>PostUpdateCommandType</string>
        </key>
        <value>
          <string>System.String:Batch</string>
        </value>
      </item>
    </dictionary>
  </Settings>
  <GlobalVariables />
  <CodeSnippets />
  <SetupLists />
</Ketarin>