<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AG.Eazfuscator.NET.Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <process>
      <rollForward enabled="true"/>
    </process>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Components"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AG.Eazfuscator.NET.Assistant.Properties.Settings>
      <setting name="MainFormLocation" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="CallUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainFormExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StackTraceDecodingPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="StackTraceDecodingRememberPassword" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WasUpgraded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PLS_PreviousVersionHintTimestamp" serializeAs="String">
        <value />
      </setting>
    </AG.Eazfuscator.NET.Assistant.Properties.Settings>
  </userSettings>
</configuration>
